
body
{
    background-color: blue;
}

.fmt1/*isso é uma "class"*/
{
    font-size: 160%;
    color : black;
    background-color: rgb(170, 129, 209);
}

#fmt2 /*isso é um "id"*/
{
    font-size: 80%;
    background-color: red;
} 


